@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color1: #0b0223;
  --text-color2: #534c64;
  --text-color3: #3c354f;
  --title-color: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --bg-color1: rgba(11, 2, 35, 0.1);
  --bg-color2: #4ec5f7;
  --btn-color: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

body {
  font-family: "Work Sans", sans-serif;
}
h1 {
  font-size: 5.9rem;
  font-weight: 800;
  text-transform: uppercase;
}

/* Common class */

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.letter-color {
  background: -webkit-linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.word-color {
  background: -webkit-linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navbar Section */

.nav-section {
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  max-width: 1400px;
  margin: 0 auto;
}
.nav-menus {
  display: flex;
  list-style: none;
  padding: 0px 20px;
  color: var(--text-color3);
  font-size: 1.12rem;
  font-weight: 500;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-items {
  background-color: var(--bg-color1);
  padding: 10px 15px;
  border-radius: 8px;
  color: var(--text-color3);
  font-size: 1.12rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.menu-items {
  padding: 0px 10px;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h2 {
  font-size: 2.8rem;
  font-weight: 700;
}
.fa-youtube,
.fa-tiktok {
  font-size: 1.8rem;
}
.fa-youtube {
  color: rgb(222, 10, 10);
}

/* Banner Section */

.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5vh;
  background-image: url("images/Group\ 14.png");
  background-repeat: no-repeat;
}
.banner-title {
  color: var(--text-color1);
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-details {
  color: var(--text-color2);
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
  margin: 15px 0px 25px 0px;
}
.banner-details p {
  padding: 15px 0px;
}
.btn {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 48px;
  margin: 5px 15px 5px 0px;
  border: none;
}
.btn-primary {
  background: -webkit-linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.btn-info {
  background-color: var(--bg-color2);
}

/* We are gamer section */

.gamer-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: right;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin: 10vh 0vh;
}
.gamer-contents {
  width: 35%;
  padding-right: 70px;
}
.gamer-contents h2 {
  font-size: 3rem;
  font-weight: 700;
}
.gamer-contents p {
  color: var(--text-color2);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 0px;
}
.bold-text {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 45px;
}

/* Online Games Section */

.online-section{
  margin-bottom: 10vh;
}
.online-caption{
  text-align: center;
  margin-bottom: 5vh;
}
.online-caption h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color1);
}
.online-caption p{
  color: var(--text-color2);
  padding: 15px;
}

.online-card-container{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.online-card p{
  width: 342px;
  text-align: center;
  padding-top: 10px;
  color: var(--text-color2);
  font-weight: 500;
  font-size: 1.1rem;
}

/* play games section */

.play-section{
  display: flex;
  align-items: center;
  gap: 250px;
  max-width: 1500px;
  margin: 0 auto;
}
.play-contents h2{
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color1);
}
.play-contents p{
  color: var(--text-color2);
  padding: 15px;
  font-size: 1.1rem;
}
.bottom-img{
  position: relative;
  bottom: 200px;
  left: 550px;
}

/* mobile devices */

@media screen and (max-width: 767px) {
  .nav-section {
    box-shadow: none;
  }
  .logo {
    margin: 10px 0px;
  }
  .menu-items {
    padding: 10px 0px 15px 0px;
    font-size: 0.9rem;
  }
  .nav-items,
  .fa-youtube,
  .fa-tiktok {
    padding: 3px 10px;
    font-size: 0.9rem;
  }
  .logo h2 {
    font-size: 1.8rem;
  }
  .logo img {
    width: 60px;
    height: 30px;
  }
  .nav-container {
    flex-direction: column;
    padding: 25px 0px;
  }
  .nav-links,
  .nav-menus {
    flex-direction: column;
    text-align: center;
  }



  .banner-section {
    flex-direction: column-reverse;
    gap: 40px;
    background-image: none;
  }
  .banner-img {
    width: 350px;
    height: auto;
    margin: 0 auto;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-details {
    font-size: 0.8rem;
    margin: 5px 0px 15px 0px;
  }
  h1 {
    font-size: 3.2rem;
  }
  .btn {
    font-size: 0.7rem;
    padding: 10px 15px;
    margin: 0px 10px 0px 0px;
  }



  .gamer-section {
    flex-direction: column;
    text-align: center;
  }
  .gamer-img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .gamer-contents {
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding-right: 0px;
  }
  .gamer-contents h2 {
    font-size: 2rem;
  }
  .gamer-contents p {
    font-size: 0.9rem;
  }
  .bold-text {
    font-size: 1rem;
  }



  .online-card-container{
    flex-direction: column;
    align-items: center;
  }
  .online-caption h2 {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
  }
  .online-caption p{
    font-size: 0.8rem;
    width: 85%;
    margin: 0 auto;
  }
  .online-card p{
    font-size: 0.9rem;
  }



  .play-section{
    flex-direction: column-reverse;
    gap: 50px;
    margin-top: 15vh;
  }
  .play-contents{
    text-align: center;
    width: 85%;
  }
  .play-contents h2{
    font-size: 2rem;
  }
  .play-contents p{
    font-size: 0.9rem;
  }
  .play-img{
    width: 80%;
  }
  .bottom-img{
    width: 200px;
    left: 200px;
    bottom: 100px;
  }
  .play-images{
   max-width: 400px;
   margin: 0 auto;
  }
}



/* Tablet or laptop devices */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-container {
    justify-content: space-around;
  }
  .logo h2 {
    font-size: 1.1rem;
  }
  .logo img {
    width: 50px;
    height: 26px;
  }
  .logo {
    margin-left: 15px;
  }
  .menu-items {
    font-size: 0.9rem;
  }
  .nav-items,
  .fa-youtube,
  .fa-tiktok {
    padding: 3px 3px;
    margin-right: 10px;
  }



  .banner-section {
    max-width: 700px;
    height: auto;
    background-image: none;
    margin: 0 auto;
  }
  .banner-img {
    width: 380px;
    height: auto;
    margin: 0 auto;
  }
  .banner-title {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2.9rem;
  }
  .banner-contents {
    width: 60%;
  }
  .banner-details {
    font-size: 0.8rem;
    margin: 5px 0px 15px 0px;
  }
  .banner-details p {
    padding: 5px 0px;
  }
  .btn {
    font-size: 0.7rem;
    padding: 10px 15px;
    margin: 0px 10px 0px 0px;
  }



  .gamer-section {
    flex-direction: column;
    text-align: center;
  }
  .gamer-img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .gamer-contents {
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding-right: 0px;
  }
  .gamer-contents h2 {
    font-size: 2.5rem;
  }
  .gamer-contents p {
    font-size: 0.9rem;
  }
  .bold-text {
    font-size: 1rem;
  }



  .online-card-container{
    flex-wrap: wrap;
  }
  .online-caption h2 {
    font-size: 2rem;
  }


  .play-section{
    flex-direction: column-reverse;
    gap: 50px;
    margin-top: 15vh;
  }
  .play-contents{
    text-align: center;
    width: 75%;
  }
  .play-contents h2{
    font-size: 2rem;
  }
  .play-contents p{
    font-size: 0.9rem;
  }
  .play-img{
    width: 80%;
  }
  .bottom-img{
    left: 400px;
  }
  .play-images{
    max-width: 700px;
    margin: 0 auto;
   }
}
